.addtocartbtn:focus {
  outline: none;
}
.addtocartbtn {
  border: none;
  position: absolute;
  margin-left: 125px;
  margin-top: -14px;
  color: black;
}
@media (max-width: 750px) {
  .addtocartbtn {
    margin-left: 25px;
    margin-top: -7px;
    font-size: 7px;
  }
}
