.head {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 50%, #000000 100%),
    url("../background.png");
  background-size: cover;
  background-position: center middle;
  height: 800px;
}
.h1head {
  margin-top: 290px;
  opacity: 0px;
  color: white;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 81.84px;
  letter-spacing: 0.002em;
}
.h2head {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.74px;
  letter-spacing: 0.001em;
  text-align: center;
  color: white;
}
.shopdiv {
  display: flex;
  justify-content: center;
}
.shoplink {
  border: 1px solid rgba(34, 38, 1, 1);
  background-color: rgba(34, 38, 1, 1);
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}
.arrowUp {
  border: 1px solid rgba(34, 38, 1, 1);
  background-color: rgba(34, 38, 1, 1);
  color: white;
  padding: 16px;
  margin-left: 4px;
  border-radius: 10px;
}
.clockdiv {
  margin: 30px;
  font-weight: 400;
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 120px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 900px) {
  .h1head {
    font-size: 23px;
  }
  .h2head {
    font-size: 12px;
    margin-top: -30px;
    line-height: 20px;
  }
}
