.mavbar {
  color: rgb(31, 32, 22);
  border-radius: 10px;
  width: 250px;
  margin-left: 170px;
  margin-top: 15px;
  border: 1px solid rgb(31, 32, 22);
  text-align: center;
  height: 40px;
}
.search {
  display: flex;
}
.mavbar-link {
  color: rgb(31, 32, 22);
  text-decoration: none;
  margin: 10px;
  text-align: center;
}
.logo {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  line-height: 32.74px;
  text-align: left;
  margin-top: 10px;
  color: rgb(31, 32, 22);
}
.minilogo {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  line-height: 32.74px;
  color: rgb(31, 32, 22);
  margin-top: 5px;
}
.logoiv {
  display: flex;
  margin: 10px;
}
.navdi {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .minilogo {
    font-size: 9px;
  }

  .navdi {
    display: inline-flex;
  }
  .logo {
    font-size: 13px;
    margin-left: -10px;
  }

  .logoiv {
    margin-top: 2px;
  }
  .mavbar {
    width: 105px;
    height: 25px;
    margin-top: 15px;
    margin-left: -4px;
  }
  .mavbar a {
    font-size: 13px;
  }
}
