.simple-search-input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #feede7;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
}
.simple-search-form {
  margin-top: 7px;
  display: flex;
  justify-self: normal;
}
.simple-search-btn {
  color: red;
  border: none;

  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: transparent;
}

.simple-search-btn:hover {
  background-color: #5d554e;
}

.simple-search-btn:focus {
  outline: none;
}

.simple-search-btn svg {
  vertical-align: middle;
  font-size: 1rem;
}
.cart {
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 900px) {
  .simple-search-input {
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-top: 5px;
  }
  .simple-search-btn {
    margin-top: -5px;
  }
  .cart {
    margin-left: -20px;
  }
}
