body {
  background-color: #f9f6f4;
}
.shopimage1 {
  width: 1300px;
  height: 436px;
}
.shoph1 {
  text-align: center;
  margin: 30px;
  color: red;
  font-family: Nunito Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 65.47px;
  letter-spacing: 0.002em;
}
.imgrow {
  display: flex;
  justify-content: space-between;
}
.promo {
  background-color: white;
  color: red;
  text-align: center;
  font-weight: 400;
  font-family: Nunito-sans;
  width: 60px;
  padding: 2px;
  border-radius: 10px;
  position: absolute;
}
.shimg1 {
  background-color: rgba(242, 236, 233, 1);
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.addtocartbtne {
  border: none;
  position: absolute;
  margin-left: 220px;
  margin-top: -30px;
}
.mainfooter3 {
  display: flex;
  margin-left: 970px;
  justify-content: space-between;
  margin-top: 50px;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: left;
}
.shoeimages {
  width: 290px;
  height: 195px;
}
.price {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 22.74px;
  letter-spacing: 0.001em;
  text-align: left;
  margin-left: 21px;
}
.initialprice {
  font-family: Inter;
  font-size: 16px;

  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  text-decoration: line-through;
  color: red;
}
.newprice {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;

  opacity: 0.6;
  margin: 5px;
}
.shoeimagesit {
  width: 290px;
}
@media (max-width: 900px) {
  .initialprice {
    font-family: Inter;
    font-size: 8px;
    font-weight: 400;
    line-height: 10.36px;
    text-align: left;
    text-decoration: line-through;
    color: red;
  }
  .imgrow {
    margin-left: 2px;
    text-align: center;
    margin-right: -15px;
  }
  .newprice {
    font-family: Inter;
    font-size: 7px;
    font-weight: 400;
    line-height: 9.36px;
    text-align: left;
    opacity: 0.6;
    margin: 0px;
  }
  .shoeimages {
    width: 80px;
    height: 80px;
  }
  .shoph1 {
    text-align: center;
    margin: 10px;
    color: red;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 35.47px;
    letter-spacing: 0.002em;
  }
  .promo {
    background-color: white;
    color: red;
    text-align: center;
    font-weight: 400;
    font-family: Nunito-sans;
    width: 40px;
    padding: 0px;
    font-size: 10px;
    border-radius: 5px;
  }
  .shoeimagesit {
    width: 80px;
    height: 80px;
  }
  .price {
    font-size: 10px;
    font-weight: 600;
    line-height: 22.74px;
  }
  .shopimage1 {
    width: 370px;
    height: 250px;
    margin-left: 0px;
  }
  .mainfooter3 {
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .price {
    font-family: Nunito Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.74px;
    letter-spacing: 0.001em;
    text-align: left;
    margin-left: 2px;
  }
  .shimg1 {
    background-color: rgba(242, 236, 233, 1);
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
  }
}
